<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>ABOUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="card">
        <img src="../assets/img/calculator.jpg"/>
        <ion-card-header>
          <ion-card-title>CAR LOAN CALCULATOR</ion-card-title>
          <ion-card-subtitle>Key Innovations Inc.</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
            <p class="description">Car Loan Calculator is a digital computation system that allows a borrower to project how much the monthly payment will be on a loan and how long it will take to repay the borrowed amount.
              </p>
            <p class="developed">Developed by <b>Key Innovations Inc.</b></p>
            <p class="copyright">Copyright © All rights reserved 2019</p>
        </ion-card-content>
      </ion-card>

</ion-content>
