.description{
    font-size: 17px;
}

.developed, .copyright{
    font-size: 15px;
    // text-align: center;
}

.card{
    margin-top: 25px;
}

.developed{
    padding-top: 15px;
}

ion-card-title{
    font-size: 23px;
}

ion-card-subtitle{
    font-size: 15px
}