@import 'bootstrap.scss';

ion-slide {
    height: calc(100vh - 140px);
    display: block;
  }

ion-title{
    text-align: center;
}

// .calctitle{
//     // padding-left: 0!important;
//     // padding-right: 50px!important;
// }

.downchip{
    width: 170px;
}

.swiper-scrollbar{
    display: none;
}

ion-segment-buton{
    ion-label{
        font-size: 15px;
    }
}

p{
    font-size: 15px;
    color: #fff;
}

ion-select{
    font-size: 15px;
}

ion-datetime{
    font-size: 15px;
}

ion-radio-group{
    display: -webkit-inline-box;
}

.hydrated{
    font-size: 13px;
}

.ngx-datatable{
    font-size: 11px!important;
    text-align: initial!important;
    height: 650px!important;
    width: 100%;
}

// .ngx-datatable .datatable-body {
//     text-align: initial!important;
// }

// datatable-body{
//     text-align: initial!important;
// }


// .datatable-header-cell
// {
//    display: flex !important;
//    align-items: center !important;
// }

ion-content {
      --ion-background-color: #ffffff!important;
      .printable-area {
        width: 100%;
        height: 100%;
      }

    .topclass{
        display: flex;
    }

    .three{
        display: flex;
    }

    ion-radio{
        margin-right: 10px!important;
    }

    .tab{
        font-weight: bold;
        font-size: 18px;
    }

    .inputs{
        //padding-left: 10px!important;
        //text-align: center!important;
        //color: #fff;
        margin-left: 18px;
        color: #4874a8;
        font-weight: bold;
        font-size: 20px!important;
    }

    .percent{
        color: #4874a8;
        font-weight: bold;
        font-size: 20px;
    }

    .labels{
        //font-weight: bold;
        //color: #fff;
        color: #424242;
        font-size: 17.5px!important;
        //text-align: center!important;
    }

    .labeled{
        //font-weight: bold;
        //color: #fff;
        color: #424242;
        font-size: 17px!important;
        //text-align: center!important;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .sel{
        font-size: 18px!important;
        padding-top: 18px!important;
    }

    #dis{
        text-align: right!important;
        //color: #fff;
        color: #4874a8;
        font-weight: bold;
        font-size: 18px!important;
        // padding-left: 18px!important;
    }

    .align{
        display: flex!important;
    }

    .tall{
        height: 750px!important;
    }

    .cardpads{
        padding: 0!important;
    }

    // :host ::ng-deep .datatable-header-cell{
    //     height: 30px;
    //     width: 100%;
    //     background-color: #4874a8!important;
    //     padding: 5px!important;
    //     font-weight: bold;
    //     color: #fff;
    // }

    #logout{
        width: 100%!important;
        // margin-left: 150px;
        float: left;
    }

    // .alignicon{
    //     margin-top: -10px;
    // }

  }