<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <div class="topclass">
    <ion-title class="calctitle">
      LOAN CALCULATOR
    </ion-title>
    <ion-button id="logout" (click)="logout()">Log Out</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="google-bg" padding> 

    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" color="warning">
      <ion-segment-button value="0">
        <ion-label class="tab">Input</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label class="tab">Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label class="tab">Table</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-slides class="tall" #slides (ionSlideDidChange)="slideChanged()" scrollbar="false">
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-list-header>
                <ion-chip color="primary">
                <ion-icon name="bus"></ion-icon>
                <ion-label floating class="labels"> Vehicle Price (SRP) </ion-label>
                </ion-chip>
                </ion-list-header>
                <ion-item>
                <ion-input [(ngModel)]="vehicleValue" (ionChange)="onClickChange()" (ionChange)="onDownDetails()" type="number" placeholder="0" class="inputs"> </ion-input><p>PHP</p>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row class="align">
            <ion-col>
              <ion-list>
                <ion-list-header>
                  <ion-chip class="downchip" color="primary">
                  <ion-icon name="arrow-down"></ion-icon>
                  <ion-label floating class="labels"> Down Payment </ion-label>
                  </ion-chip>
                </ion-list-header>
              </ion-list>
            </ion-col>
            <ion-col>
              <ion-select class="sel" interface="popover" [(ngModel)]="customDownPayment" placeholder="%" (ionChange)="onDownSetting()">
                <ion-select-option class="sel" value="percent">%</ion-select-option>
                <ion-select-option class="sel" value="php">PHP</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input (ionChange)="onClickChange()" (ionChange)="onDownDetails()" [(ngModel)]="downPayment" type="number" placeholder="0" class="inputs"> </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-list-header>
                <ion-chip color="primary">
                <ion-icon name="cash"></ion-icon>
                  <ion-label floating class="labels"> Principal Amount </ion-label>
                </ion-chip>
                </ion-list-header>
              </ion-list>
              <ion-item>
                <ion-input disabled="true" [(ngModel)]="loanAmount" type="number" placeholder="0" class="inputs"> </ion-input><p>PHP</p>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="align">
            <ion-col>
              <ion-list>
                <ion-list-header>
                  <ion-chip color="primary">
                  <ion-icon name="clock"></ion-icon>
                  <ion-label floating class="labels"> No. of Payments (in Months) </ion-label>
                  </ion-chip>
                </ion-list-header>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input [(ngModel)]="loanTerm" (ionChange)="onClickLoanChange()" (ionChange)="onSetDate()" (ionChange)="onClickChange()" type="number" placeholder="0" class="inputs"> </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-list-header>
                  <ion-chip color="primary">
                  <ion-icon name="card"></ion-icon>
                  <ion-label floating class="labels"> Interest Rate </ion-label>
                  </ion-chip>
                </ion-list-header>
              </ion-list>
              <ion-item>
                <ion-input (ionChange)="onClickChange()" [(ngModel)]="interestRate" type="number" placeholder="0" class="inputs"> </ion-input><span class="percent">%</span>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating" class="labels"> Start Date</ion-label>
                <ion-datetime (ionChange)="onSetDate()" [(ngModel)]="startDate"  class="inputs" displayFormat="MM/DD/YYYY" min="1990-01-01" max="2030-12-30" placeholder="Month - Day - Year"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      

      <ion-slide>
      <ion-card>
        <ion-card-content class="cardpads">
        <ion-item>
          <ion-label fixed class="labeled"> Principal Amount </ion-label>
          <ion-label id="dis" placeholder="0" fixed class="labeled">₱ {{loanAmount | number: '1.2-2'}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label fixed class="labeled"> Down Payment </ion-label>
          <ion-label id="dis" placeholder="0" class="labeled">₱ {{dpOnDetails | number: '1.2-2'}}</ion-label>
        </ion-item>
                
        <ion-item>
          <ion-label fixed class="labeled"> Monthly Pay </ion-label>
          <ion-label id="dis" placeholder="0" class="labeled">₱ {{monthlyPayment | number: '1.2-2'}}</ion-label>
        </ion-item>
        </ion-card-content>
      </ion-card>
        
      <ion-card>
        <ion-card-content class="cardpads">
        <ion-item>
          <ion-label fixed class="labeled"> No.Of Payments </ion-label>
          <ion-label id="dis" placeholder="0" class="labeled"> {{totalNumberOfPayments}} </ion-label>
        </ion-item>
                
        <ion-item>
          <ion-label fixed class="labeled"> Start Date </ion-label>
          <ion-label id="dis" placeholder="MM DD YYYY" class="labeled"> {{startDate | date}}</ion-label>
        </ion-item>
                
        <ion-item>
          <ion-label fixed class="labeled"> End Date </ion-label>
          <ion-label id="dis" placeholder="MM DD YYYY" class="labeled"> {{payOffDate | date}}</ion-label>
        </ion-item>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-content class="cardpads">
        <ion-item>
          <ion-label fixed class="labeled"> Total Interest </ion-label>
          <ion-label id="dis" placeholder="0" class="labeled">₱ {{totalInterestPaid | number: '1.2-2'}}</ion-label>
        </ion-item>
                
        <ion-item>
          <ion-label fixed class="labeled"> Total Amount Due </ion-label>
          <ion-label id="dis" placeholder="0" class="labeled">₱ {{totalPayment | number: '1.2-2'}}</ion-label>
        </ion-item>
                
        <ion-item>
          <ion-label fixed class="labeled"> Total Revenue </ion-label>
          <ion-label id="dis" placeholder="0" class="labeled">₱ {{totalOfAllCosts | number: '1.2-2'}}</ion-label>
        </ion-item>
        </ion-card-content>
      </ion-card>

      </ion-slide>
      
      <ion-slide>
      <div class="three">
        <ion-button id="logout" (click)="displaySegment()">Generate Table</ion-button>
        <ion-buttons slot="primary">
          <ion-button color="primary" class="alignicon" (click)="createPdf()">
            <ion-icon slot="icon-only" name="print"></ion-icon>
          </ion-button>
        </ion-buttons>
        </div>
        
        <div class="printable-area" id="printable-area">
        <ngx-datatable
        class="bootstrap"
        [rows]="rows"
        [columnMode]="'force'"
        [footerHeight]="100"
        [rowHeight]="'auto'"
        style="height: 500px; overflow-y:visible">
        <ngx-datatable-column name="Date">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{value}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>{{column.name}}</span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i>{{value | number: '1.2-2'}}</i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Principal">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{value | number: '1.2-2'}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Total">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{value | number: '1.2-2'}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Balance">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{value | number: '1.2-2'}}</strong>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      </div>
    </ion-slide>
    
  </ion-slides>

</ion-content>
