// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

// @import 'themes/bootstrap';
// @import 'themes/dark';
// @import 'assets/icons';

ion-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topclass{
    display: flex;
}

.splash{
    text-align: center;
    .logo{
        font-weight: bold;
    }
    p{
        font-size: 10px;
    }
}

ion-title{
    font-size: 17px!important;
}

.menutitle{
    font-size: 18px;
    text-align: center;
}

/*h1{
    position: absolute;
    top: 4px;
    left: 16px;
    font-size: 14px;
}*/

#logout{
    font-size: 14px;
    // padding-left: 100px;
    // padding-right: 100px;
    margin-bottom: 10px;
    float: right;
    margin-right: 20px;
    height: 40px;
}

.labels, .inputs{
    font-size: 15px!important;
}