.dp{
    border-radius: 50%;
    width: 55%;
    margin: 20px 70px 10px 70px;
}

.name{
    font-size: 19px;
    padding-left: 15px;
}

.email{
    font-size: 19px;
    padding-left: 15px;
}

#logout{
    margin-top: 20px;
}