<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>USER PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container">
      <ion-row>
        <ion-col>
          <!-- <ion-img class="photo">{{user.photoURL}}</ion-img> -->
          <img class="dp" src="{{user.photoURL}}" alt="user-photo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
              <ion-icon name="person" color="primary"></ion-icon>
              <ion-label class="name">{{user.displayName}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="mail" color="primary"></ion-icon>
            <ion-text class="email">{{user.email}}</ion-text>
          </ion-item> 
        </ion-col>
      </ion-row>
    </div>
    <ion-button id="logout" (click)="logout()">Log Out</ion-button>
  </ion-content>
