ion-slide {
    height: calc(100vh - 140px);
    display: block;
  }

ion-title{
    text-align: center;
}

.swiper-scrollbar{
    display: none;
}

ion-segment-buton{
    ion-label{
        font-size: 12px;
    }
}

.or {
    font-size: 18px!important;
    color: #fff;
    font-weight: bold;
    margin-left: 105px;
    margin-right: 100px;
}

.info{
    font-weight: bold;
    color: #fff;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 14px!important;
}

.noacc{
    color: #fff;
    font-size: 13px;
    margin-left: 30px;
    margin-right: 30px;
}

.signup{
    width: 100%;
}

.un, .pw{
    font-size: 16px!important;
    color: #fff;
}

.e_blank, .p_blank{
    font-size: 16px!important;
    color: #fff;
}

ion-content{
    --ion-background-color: #4784a8!important;
}

p{
    font-size: 13px;
}

ion-select{
    font-size: 13px;
}

ion-datetime{
    font-size: 13px;
}

ion-radio-group{
    display: -webkit-inline-box;
}

.hydrated{
    font-size: 13px;
}

.ngx-datatable{
    font-size: 13px;
}

.title{
    //font-size: 30px!important;
    font-family: bold!important;
    font-family: "Roboto", sans-serif!important;
    text-align: center!important;
}

.tagged{
    font-family: "Roboto", sans-serif!important;
    text-align: center!important;
    color: #fff;
    margin-bottom: 20px!important;
    display: inline-block;
}

// .googlebtn{
//     width: 45%;
// }

// .fbbtn{
//     width: 50%!important;
// }

.pads{
    margin-top: 20px;
    //padding: 150px 15px 150px 15px!important;
    //padding-top: 50px;
    // padding-bottom: 50px;
    // padding-left: 15px;
    // padding-right: 15px;
    //background-color: #4874a8!important;
}

.log{
    width: 50%!important;
    text-align: center;
    margin: 0 80px 20px 75px;
}

.comp{
    width: 25%!important;
    //text-align: center;
    //margin: 0 80px 0 80px;
}