<ion-content class="front" padding>

  <div class="pads">
  
  <img class="log" src="../assets/img/icon.png"/>
  
  <!-- FIREBASE GOOGLE & FACEBOOK AUTH LOGIN -->
  <div class="socialbtns">
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="danger" (click)="login()">Google</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" class="login" (click)="loginFb()">Facebook</ion-button>
      </ion-col>
    </ion-row>
  </div>

  <!-- <ion-label class="or">OR</ion-label><br><br> -->

  <!-- fab placed in the center of the content with a list on each side -->
  <!-- <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button expand="full" color="primary" (click)="loginFb()"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button expand="full" color="danger" (click)="login()"><ion-icon name="logo-google"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

  <!-- <br><br><br><br>

  <ion-chip>
    <ion-label color="light">Social Media Login</ion-label>
    <ion-icon color="secondary" name="close-circle"></ion-icon>
  </ion-chip> -->

  <ion-list>

    <ion-col> 

      <ion-item>
        <ion-label class="un" position="floating">Email Address</ion-label>
        <ion-input class="e_blank" type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label class="pw" position="floating">Password</ion-label>
        <ion-input class="p_blank" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

    </ion-col>
	  
	  </ion-list>

    <ion-button fill="solid" expand="block" color="dark" (click)="loginEmail()">Login</ion-button>
    <ion-button class="signup" color="tertiary" (click)="toRegister()">SIGN UP HERE</ion-button>

    <!-- <ion-label class="entercreds">{{errorLogin}}</ion-label> -->
  
  </div>
  
  </ion-content>

  <ion-toolbar>
    <ion-title>
      <img class="comp" src="../assets/img/keyinnovations.png"/>
    </ion-title>
  </ion-toolbar>