<ion-header>
    <ion-toolbar>
      <div class="topclass">
      <ion-title class="calctitle">
        SIGN UP
      </ion-title>
      <ion-button id="logout" (click)="back()">Back</ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

<ion-content>
    
    <ion-content padding>
        <ion-list>
      
          <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
          </ion-item>
        
          <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
    
          <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
          </ion-item>

          <!-- <ion-item>
            <ion-label>{{errorPassword}}</ion-label>
          </ion-item> -->
        
        </ion-list>
      
        <ion-button fill="solid" expand="block" color="dark" (click)="register()">SIGN UP</ion-button>
      </ion-content>

</ion-content>
